/playground
/node_modules
/src/vendor
/assets
/static

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
dist/

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# vuepress build output
.vuepress/dist

.nuxt/
.vscode/
.idea/
