.text-small {
  font-size: small;
}

.text-regular {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.25rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 3rem;
}

.text-bold {
  font-weight: bold;
}
